{% extends "base.html" %}

{% block content %}
    

    <form action="/books" method="post">

      <label for="Book Title">Book Title</label>
      <input type="text" name="Book Title" id="Book Title">

      <label for="Author">Author</label>
      <input type="text" name="Author" id="Author">

      <label for="Genre">Genre</label>
      <input type="text" name="Genre" id="Genre">

      <input type="submit" value="Add Book">
    </form>

    {% for book in books %}
    <div>
      {{ book.book_title }}, {{ book.author }}, {{ book.genre }}
      
      <a href="/books/{{books.index(book)}}">Show Book</a>
    
      <form class="form-inline" action="/books/delete/{{ book.book_title }}" method="POST">
        <input type="submit" value="Delete by Name">
      </form>

      <!-- <form class="form-inline" action="/books/del/{{ books.index(book) }}" method="POST">
        <input type="submit" value="Delete by Index"> -->
      </form>  
    
    
    </div>
    {% endfor %}
{% endblock %}